.Navbar {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: $navbarHeight;
    background-color: darken(white, 5%);
    border-bottom: 1px solid darken(white, 10%);
    
    .active {
        background-color: darken(white, 2%);
    }
}

.Navbar__item {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: white;
    color: gray;
    cursor: pointer;
    text-decoration: none;
    
    &:hover {
        background-color: darken(white, 2%);
    }

    & + .Navbar__item {
        border-left: 1px solid darken(white, 5%);
    }
}