// colors
$primaryBlue: #42adf4;
$white: darken(white, 10%);

$gray1: #2e3136;
$gray2: #2a2d32;
$gray3: #23262a;
$gray4: #2e3136;
$gray5: #282b30;
$gray6: #1e2124;

$light1: #fff;
$light2: #f4f4f4;
$light3: #e3e3e3;

$dark2: #3a3f41;
$dark1: lighten($dark2, 5%);
$dark3: darken($dark2, 5%);

$fontPrimary: darken($light3, 10%);
$fontSecondary: darken($light3, 20%);
